body {
    margin: 0;
    padding: 0;
    background-color: #6A3C68;
}

.header {
    height: 160px;
    background: rgba(180, 246, 198, 1);
    box-sizing: border-box;
    padding: 60px 50px 60px 50px;
}

.menu-btn {
    display: inline-block;
    cursor: pointer;
    font-size: 30px;
    font-weight: 900;
    line-height: 37px;
    color: rgba(59, 31, 72, 1);
    margin-right: 50px;
    vertical-align: top;
}

.profile {
    float: right;
    margin-right: 0;
}

.profile-btn {
    text-decoration: underline;
    margin-right: 40px;
}

.ava {
    margin-right: 0;
}

.chel {
    margin-right: 52px;
    width: 28px;
    height: 36px;
    cursor: pointer;
}

.kolok {
    margin-right: 52px;
    width: 32px;
    height: 36px;
    cursor: pointer;
}

#content {
    box-sizing: border-box;
    padding: 40px;
}

.main-paper-row-one {
    display: flex;
    justify-content: center;
}

.first-card {
    height: 560px;
    width: 800px;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: rgba(94, 52, 95, 1);
    margin-right: 40px;
}

.card-chart {

}

.card-title {
    height: 120px;
    width: 800px;
    font-size: 30px;
    font-weight: 900;
    line-height: 37px;
    box-sizing: border-box;
    padding: 40px;
    border-bottom: 3px solid rgba(180, 246, 198, 1);
    color: rgba(255, 237, 251, 1);
    display: flex;
    align-items: center;
}

.card-title-text {
    width: 245px;
}

.next-card {
    height: 30px;
    width: 30px;
    cursor: pointer;
    margin-left: 415px;
}

.card-info {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: rgba(255, 237, 251, 1);
    margin-left: 40px;
    margin-top: 25px;
}

.test-btn {
    float: right;
    margin-right: 40px;
    margin-top: 40px;
    height: 60px;
    width: 240px;
    box-sizing: border-box;
    text-align: center;
    padding: 12px 47px 11px 47px;
    border-radius: 10px;
    background-color: rgba(180, 246, 198, 1);
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 900;
    line-height: 37px;
    color:rgba(59, 31, 72, 1);
    cursor: pointer;
}

.champ-btn {
    float: right;
    margin-right: 40px;
    margin-top: 80px;
    height: 60px;
    width: 240px;
    box-sizing: border-box;
    text-align: center;
    padding: 12px 47px 11px 47px;
    border-radius: 10px;
    background-color: rgba(180, 246, 198, 1);
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 900;
    line-height: 37px;
    color:rgba(59, 31, 72, 1);
    cursor: pointer;
}

.student-info {
    font-size: 20px;
    font-weight: 900;
    line-height: 24px;
    color: rgba(255, 237, 251, 1);
    margin-left: 40px;
    margin-top: 25px;
}

.student-btn {
    height: 60px;
    width: 336px;
    float: right;
    margin-right: 40px;
    margin-top: 54px;
    box-sizing: border-box;
    text-align: center;
    padding: 11px 36px 16px 36px;
    border-radius: 10px;
    background-color: rgba(180, 246, 198, 1);
    font-size: 30px;
    font-weight: 900;
    line-height: 37px;
    color: rgba(59, 31, 72, 1);
    cursor: pointer;
}

.card-module {
    font-size: 30px;
    font-weight: 900;
    line-height: 37px;
    color: rgba(255, 237, 251, 1);
    margin-left: 40px;
    margin-top: 38px;
}

.card-tem {
    font-size: 24px;
    font-weight: 900;
    line-height: 30px;
    color: rgba(255, 237, 251, 1);
    margin-left: 40px;
    margin-top: 38px;
}

.card-lesson {
    font-size: 24px;
    font-weight: 900;
    line-height: 30px;
    color: rgba(255, 237, 251, 1);
    margin-left: 40px;
    margin-top: 10px;
}

.card-hours {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: rgba(255, 237, 251, 1);
    margin-left: 40px;
    margin-top: 30px;
}

.card-teacher {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: rgba(255, 237, 251, 1);
    margin-left: 40px;
    margin-top: 10px;
}

.card-plase {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: rgba(255, 237, 251, 1);
    margin-left: 37px;
    margin-top: 10px;
}

.card-date {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: rgba(255, 237, 251, 1);
    margin-left: 70px;
    margin-top: 60px;
}

.card-materials {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: rgba(255, 237, 251, 1);
    margin-left: 380px;
}

.second-card {
    display: inline-block;
    height: 560px;
    width: 600px;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: rgba(94, 52, 95, 1);
}

.second-card-title {
    height: 120px;
    font-size: 30px;
    font-weight: 900;
    line-height: 37px;
    box-sizing: border-box;
    padding: 40px 255px 38px 40px;
    border-bottom: 3px solid rgba(180, 246, 198, 1);
    color: rgba(255, 237, 251, 1);
}

.notifications {
    padding: 19px 40px 10px 40px;
}

.notification-card {
    background-color: rgba(255, 237, 251, 1);
    height: 120px;
    width: 520px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 20px;
}

.notification-card-title {
    display: inline-block;
    height: 24px;
    width: 55px;
    font-size: 20px;
    font-weight: 900;
    line-height: 24px;
    color:rgba(59, 31, 72, 1);
}

.notification-card-name {
    display: inline-block;
    float: right;
    height: 16px;
    width: 121px;
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    text-decoration: underline;
    color: rgba(59, 31, 72, 1);
    cursor: pointer;
}

.notification-card-text {
    height: 45px;
    width: 480px;
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    margin-top: 11px;
    color: rgba(59, 31, 72, 1);
}

.main-paper-row-two {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 220px;
    width: 1440px;
    border-radius: 20px;
    padding: 40px 52px 40px 52px;
    margin-top: 40px;
    background-color: rgba(94, 52, 95, 1);
}

.main-paper-row-two-title {
    height: 58px;
    width: 541px;
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    color:rgba(255, 237, 251, 1);
    margin-bottom: 10px;
}

.main-paper-row-two-description {
    height: 48px;
    width: 878px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color:rgba(255, 237, 251, 1);
}

.main-paper-row-two-btn {
    height: 70px;
    width: 400px;
    text-align: center;
    box-sizing: border-box;
    padding: 16px 36px 16px 36px;
    border-radius: 10px;
    background-color: rgba(180, 246, 198, 1);
    font-size: 30px;
    font-weight: 900;
    line-height: 37px;
    letter-spacing: 0em;
    color: rgba(59, 31, 72, 1);
    cursor: pointer;
}

.paper-description-policy {
    display: inline-block;
    margin-top: 45px;
    margin-bottom: 37px;
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    color:rgba(255, 237, 251, 1);
    margin-left: 224px;
}

.paper-description-school {
    display: inline-block;
    margin-top: 45px;
    margin-bottom: 37px;
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    color:rgba(255, 237, 251, 1);
    margin-left: 54px;
}

.cloud {
    height: 340px;
    width: 1440px;
    box-sizing: border-box;
    padding: 40px;
    border-radius: 20px;
    background-color: rgba(180, 246, 198, 1);
    display: flex;
}

.column-cloud2 {
    display: flex;
    align-items: end;
}

.title-cloud {
    font-size: 30px;
    font-weight: 900;
    line-height: 37px;
    color: rgba(59, 31, 72, 1);
}

.description-cloud {
    height: 74px;
    width: 580px;
    font-size: 30px;
    font-weight: 900;
    line-height: 37px;
    color:rgba(59, 31, 72, 1);
    margin-top: 40px;
}

.btn-cloud {
    height: 60px;
    width: 240px;
    left: 40px;
    top: 240px;
    box-sizing: border-box;
    padding: 12px 47px 12px 47px;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(94, 52, 95, 1);
    font-size: 30px;
    font-weight: 900;
    line-height: 37px;
    color: rgba(255, 237, 251, 1);
    margin-top: 46px;
}

.block1 {
    height: 180px;
    width: 180px;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(94, 52, 95, 1);
}

.block2 {
    box-sizing: border-box;
    padding: 20px;
    height: 180px;
    width: 180px;
    border-radius: 10px;
    background-color: rgba(94, 52, 95, 1);
}

.status {
    margin-left: 380px;
    margin-right: 40px;
}

.status-title {
    font-size: 32px;
    font-weight: 900;
    line-height: 39px;
    color: rgba(255, 237, 251, 1);
}

.status-description {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: rgba(255, 237, 251, 1);
    margin-top: 41px;
}

.form {
    margin-top: 40px;
    height: 1590px;
    width: 1440px;
    box-sizing: border-box;
    padding: 40px 40px 40px 100px;
    border-radius: 10px;
    background-color: rgba(94, 52, 95, 1);
}

.form-title {
    width: 1300px;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    line-height: 37px;
    color: rgba(255, 237, 251, 1);
}

.input-name {
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    color: rgba(255, 237, 251, 1);
    margin-bottom: 20px;
    margin-top: 40px;
}

.form-input-name {
    height: 70px;
    width: 511px;
    padding: 20px 160px 20px 40px;
    background-color: rgba(255, 237, 251, 1);
    color:rgba(59, 31, 72, 1);
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    box-sizing: border-box;
    padding: 20px 160px 20px 40px;
    border: 4px solid rgba(180, 246, 198, 1)
}

.form-input-age {
    height: 70px;
    width: 299px;
    padding: 20px 160px 20px 40px;
    background-color: rgba(255, 237, 251, 1);
    color:rgba(59, 31, 72, 1);
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    box-sizing: border-box;
    padding: 20px 160px 20px 40px;
    border: 4px solid rgba(180, 246, 198, 1)
}

.form-input-passport {
    height: 70px;
    width: 338px;
    padding: 20px 160px 20px 40px;
    background-color: rgba(255, 237, 251, 1);
    color:rgba(59, 31, 72, 1);
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    box-sizing: border-box;
    padding: 20px 160px 20px 40px;
    border: 4px solid rgba(180, 246, 198, 1)
}

.form-input-educ {
    height: 70px;
    width: 540px;
    padding: 20px 160px 20px 40px;
    background-color: rgba(255, 237, 251, 1);
    color:rgba(59, 31, 72, 1);
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    box-sizing: border-box;
    padding: 20px 160px 20px 40px;
    border: 4px solid rgba(180, 246, 198, 1)
}

.form-input-year {
    height: 70px;
    width: 216px;
    padding: 20px 160px 20px 40px;
    background-color: rgba(255, 237, 251, 1);
    color:rgba(59, 31, 72, 1);
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    box-sizing: border-box;
    padding: 20px 160px 20px 40px;
    border: 4px solid rgba(180, 246, 198, 1)
}

.form-input-exp {
    height: 70px;
    width: 299px;
    padding: 20px 160px 20px 40px;
    background-color: rgba(255, 237, 251, 1);
    color:rgba(59, 31, 72, 1);
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    box-sizing: border-box;
    padding: 20px 160px 20px 40px;
    border: 4px solid rgba(180, 246, 198, 1)
}

.form-input-number {
    height: 70px;
    width: 433px;
    padding: 20px 160px 20px 40px;
    background-color: rgba(255, 237, 251, 1);
    color:rgba(59, 31, 72, 1);
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    box-sizing: border-box;
    padding: 20px 160px 20px 40px;
    border: 4px solid rgba(180, 246, 198, 1)
}

.form-area {
    height: 167px;
    width: 780px;
    box-sizing: border-box;
    padding: 20px 40px 20px 40px;
    font-size: 16px;
    font-weight: 900;
    line-height: 20px;
    color:rgba(59, 31, 72, 1);
    border: 4px solid rgba(180, 246, 198, 1)
}

.form-send-btn {
    height: 70px;
    width: 400px;
    border-radius: 10px;
    background-color: rgba(180, 246, 198, 1);
    box-sizing: border-box;
    padding: 16px 48px 16px 48px;
    text-align: center;
    cursor: pointer;
    margin-top: 40px;
    margin-left: 820px;
    font-size: 30px;
    font-weight: 900;
    line-height: 37px;
    color:rgba(59, 31, 72, 1)
}